<header>

    <div id="nav-conteiner">

        <div id="logo">
            <button class="home-button" routerLink="/home"><span>got</span><span id="logo-blue-part">it</span></button>
        </div>

        <div class="find">

            <div class="find__input">
                <input class="find__input__field" type="text" placeholder="find by name" id="find-by-name" #findByName>
            </div>

            <div class="find__button">
                <button class="find__button__find" (click)="findAuctions(findByName.value)">find</button>
            </div>

        </div>

        <nav>
            <div id="everone">
                <div class="nav-button">
                    <button class="nav-button__regist" *ngIf="!authenticationService.isUserLoggedIn()" routerLink="/registration">register</button>
                </div>
                <div class="nav-button">
                    <button class="nav-button__login" *ngIf="!authenticationService.isUserLoggedIn()" routerLink="/login">login</button >
            </div>
          </div>

            <div id="loggedin-only">
              <div class="nav-button">
                <button class="nav-button__profile" *ngIf="authenticationService.isUserLoggedIn()" routerLink="/userprofile">my account</button >
              </div>
              <div class="nav-button">
                <button class="nav-button__logout" *ngIf="authenticationService.isUserLoggedIn()" routerLink="/logout">logout</button >
              </div>
          </div>

        </nav>

        <div style="clear: both;"></div>

  </div>

</header>