header {
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    background-color: white;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 15px;
}

.notification {
    background-color: red;
    color: white;
    font-size: 13px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    float: left;
}

#nav-conteiner {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
}

.nav-button {
    display: flex;
    float: left;
    outline: none;
    margin-top: 13px;
    margin-bottom: 13px;
    &__a {
        border: 0px;
        font-size: 20px;
        color: #767676;
        margin-top: 10px;
        margin-left: 15px;
        background-color: white;
        cursor: pointer;
    }
    &__profile {
        border: 0px;
        font-size: 20px;
        color: #767676;
        margin-top: 10px;
        margin-left: 15px;
        background-color: white;
        cursor: pointer;
    }
    &__cart {
        border: 0px;
        font-size: 20px;
        color: #767676;
        margin-top: 10px;
        margin-left: 152px;
        background-color: white;
        cursor: pointer;
    }
    &__regist {
        border: 0px;
        font-size: 20px;
        color: #767676;
        margin-top: 10px;
        margin-left: 275px;
        background-color: white;
        cursor: pointer;
    }
    &__login {
        border: 0px;
        font-size: 20px;
        color: #767676;
        margin-top: 10px;
        margin-left: 15px;
        background-color: white;
        cursor: pointer;
    }
    &__logout {
        border: 0px;
        font-size: 20px;
        color: #767676;
        margin-top: 10px;
        margin-left: 15px;
        background-color: white;
        cursor: pointer;
    }
}

.nav-button__a:hover {
    color: #ff5a00;
}

.nav-button__a:focus {
    outline: none;
}

.nav-button__regist:hover {
    color: #ff5a00;
}

.nav-button__regist:focus {
    outline: none;
}

.nav-button__login:hover {
    color: #ff5a00;
}

.nav-button__login:focus {
    outline: none;
}

.nav-button__profile:hover {
    color: #ff5a00;
}

.nav-button__profile:focus {
    outline: none;
}

.nav-button__logout:hover {
    color: #ff5a00;
}

.nav-button__logout:focus {
    outline: none;
}

.nav-button__cart:hover {
    color: #ff5a00;
}

.nav-button__cart:focus {
    outline: none;
}

#logo {
    display: flex;
    float: left;
    outline: none;
    margin-top: 15px;
    margin-bottom: 13px;
    font-size: 35px;
    font-weight: bold;
}

.home-button {
    border: 0px;
    font-size: 35px;
    font-weight: bold;
    color: #ff5a00;
    background-color: white;
    cursor: pointer;
}

.home-button:focus {
    outline: none;
}

#logo-blue-part {
    color: #0471e3;
}

.find {
    float: left;
    margin-top: 19px;
    margin-left: 50px;
}

.find__input {
    display: flex;
    width: 300px;
    height: 35px;
    padding-left: 7px;
    outline: none;
    border: 1px solid darkgray;
    float: left;
    &__field {
        width: 300px;
        border: none;
        outline: none;
    }
    &__field:focus {
        border: none;
        border-radius: 0px;
        outline: none;
    }
}

.find__button {
    float: left;
}

.find__button__find {
    display: inline;
    justify-content: flex-end;
    background-color: #ff5a00;
    cursor: pointer;
    width: 100px;
    height: 37px;
    color: white;
    outline: none;
    border: none;
    float: left;
}

.find__button__find:hover {
    background-color: #ff6b11;
}