<footer>
    <div id="nav-conteiner">


        <div class="contact">
            <div class="author-info">
                <div class="img-link">
                    <a href="https://github.com/MariuszBorek">
                        <img alt="GitHub" [src]="imagesPath + 'github.png'" width="64" height="64">
                    </a>
                </div>

                <div class="img-link">
                    <a href="https://www.linkedin.com/in/mariusz-borek-02b292b3">
                        <img alt="GitHub" [src]="imagesPath + 'linkedin.png'" width="64" height="64">
                    </a>
                </div>

                <div class="contact-text">
                    <div>Mariusz Borek</div>
                    <div>796 475 117</div>
                    <div>mariuszborek242@gmail.com</div>
                </div>

                <div style="clear: both;"></div>

            </div>
        </div>



        <div id="logo">
            <button class="home-button" routerLink="/home">gotit</button>
        </div>

        <div style="clear: both;"></div>


    </div>
</footer>