footer {
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#nav-conteiner {
    width: 970px;
    margin-top: 20px;
    height: 110px;
    background-color: #3a4e58;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    padding: 15px;
    margin-left: 15px;
    float: left;
}

#logo {
    display: flex;
    float: left;
    outline: none;
    margin-top: 43px;
    margin-bottom: 13px;
    font-size: 35px;
    font-weight: bold;
    margin-left: 45%;
}

.home-button {
    border: 0px;
    font-size: 35px;
    font-weight: bold;
    color: white;
    background-color: #3a4e58;
    cursor: pointer;
}

.home-button:focus {
    outline: none;
}

.contact-link {
    float: left;
    margin-right: 25px;
    margin-top: 15px;
}

.contact-ico {
    fill: white;
}

.contact-ico:hover {
    fill: #ff5a00;
}

.contact-text {
    margin-top: 15px;
    float: left;
}