<div id="container">
    <form>

        <div id="login-inputs">
            <input type="text" [(ngModel)]="email" placeholder="email" name="email" id="email">
            <input type="text" [(ngModel)]="password" placeholder="password" name="password" id="password">
            <input type="text" [(ngModel)]="name" placeholder="name" name="name" id="name">
            <input type="text" [(ngModel)]="surname" placeholder="surname" name="surname" id="surname">
            <button class="create-buttom" (click)="createUser()">create</button>
        </div>

    </form>
</div>