<div id="container">
    <form>
        <div id="login-inputs">
            <div>
                Registration
            </div>
            <input type="text" [(ngModel)]="email" placeholder="email" name="email" id="email">
            <input type="text" [(ngModel)]="password" placeholder="password" name="password" id="password">
            <input type="text" [(ngModel)]="name" placeholder="name" name="name" id="name">
            <input type="text" [(ngModel)]="surname" placeholder="surname" name="surname" id="surname">
            <input type="text" [(ngModel)]="street" placeholder="street" name="street" id="street">
            <input type="text" [(ngModel)]="houseNumber" placeholder="houseNumber" name="houseNumber" id="houseNumber">
            <input type="text" [(ngModel)]="postcode" placeholder="postcode" name="postcode" id="postcode">
            <input type="text" [(ngModel)]="province" placeholder="province" name="province" id="province">
            <input type="text" [(ngModel)]="city" placeholder="city" name="city" id="city">
            <button class="create-buttom" (click)="createUser()">create</button>
        </div>
    </form>




    <div class="upload-avatar">

        <div class="upload-btn-wrapper">
            <button class="btn-choose" value="upload">choose a file</button>
            <input class="btn" type="file" (change)="onFileChanged($event)" name="avatar" accept="image/png, image/jpeg" id="avatar-save-button">
            <button class="btn-upload" (click)="onUpload()" value="upload">Upload</button>
        </div>


    </div>



</div>