#container {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.data-container {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    min-height: 550px;
}

.photo {
    height: 500px;
    width: 500px;
    float: left;
    display: flex;
    align-items: center;
}

.title {
    border-top: 1px solid #dddddd;
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
    height: 70px;
    width: 415px;
    float: left;
}

.price-buy-now {
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    height: 50px;
    width: 207px;
    float: left;
}

.price-auction {
    height: 50px;
    width: 208px;
    float: left;
}

.localization {
    margin-left: 15px;
    height: 50px;
    width: 415px;
    float: left;
}

.seller {
    margin-left: 15px;
    height: 50px;
    width: 415px;
    float: left;
}

.end-date {
    border-bottom: 1px solid #dddddd;
    margin-left: 15px;
    height: 50px;
    width: 207px;
    float: left;
}

.visits {
    border-bottom: 1px solid #dddddd;
    height: 50px;
    width: 208px;
    float: left;
}

.button-cotatiner {
    margin-left: 15px;
    height: 105px;
    width: 415px;
    margin-top: 15px;
    float: left;
}

.action-button {
    display: inline;
    justify-content: flex-end;
    background-color: #ff5a00;
    cursor: pointer;
    width: 415px;
    height: 37px;
    color: white;
    outline: none;
    border: none;
    margin-top: 10px;
    &__finished {
        display: inline;
        justify-content: flex-end;
        background-color: #ff5a00;
        cursor: pointer;
        width: 415px;
        height: 37px;
        color: black;
        outline: none;
        border: none;
        margin-top: 10px;
        background-color: #dddddd;
    }
    &__bid {
        display: inline;
        justify-content: flex-end;
        background-color: #3a4e58;
        cursor: pointer;
        width: 415px;
        height: 37px;
        color: white;
        outline: none;
        border: none;
    }
}

.action-button:hover {
    background-color: #ff6b11;
}

.text-tile {
    margin-top: 10px;
}

.text {
    margin-top: 25px;
}

.text-offer {
    margin-top: 5px;
}

.text-buy-now {
    margin-top: 17px;
}

.space {
    border-bottom: 1px solid #dddddd;
    height: 20px;
}

.description-container {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    min-height: 350px;
}

.description-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

img {
    max-width: 500px;
    max-height: 500px;
}

.offer__input__field {
    display: flex;
    margin-top: 25px;
    width: 110px;
    height: 35px;
    outline: none;
    border: 1px solid darkgray;
    margin-bottom: 5px;
    border-radius: 4px 4px 4px 4px;
    padding-left: 10px;
}
