#container {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.data-container {
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    height: 510px;
}