<div id="container">
    <div class="data-container">



        <div class="photo">
            <!-- <img [src]="retrievedImage"> -->
            <img [src]="photoPath + auction.photo">
        </div>

        <div class="title">
            <div class="text-tile">{{ auction.title }}</div>

        </div>

        <div class="price-buy-now">
            <div class="text-buy-now">{{ auction.buyNowPrice }} zł</div>
        </div>
        <div class="price-auction">
            <div *ngIf="highestOffer" class="text">Auction: {{ highestOffer.price }} zł</div>
        </div>

        <div class="localization">
            <div class="text">Localization: {{ auction.localization }}</div>
        </div>
        <div class="seller">
            <div class="text">Seller: {{ auction.owner }}</div>
        </div>
        <div class="end-date">
            <div class="text">End date: {{ auction.endDate }}</div>
        </div>
        <div class="visits">
            <div class="text">Visits: {{ auction.numberOfVisits }}</div>
        </div>

        <div class="button-cotatiner">
            <div *ngIf="!auction.finished">
                <button class="action-button" (click)="buyNow();">BUY NOW</button>
            </div>
            <div *ngIf="auction.finished">
                <button class="action-button__finished">BUY NOW</button>
            </div>
            <div *ngIf="!auction.finished">
                <button class="action-button" (click)="addToCart();">ADD TO CART</button>
            </div>
            <div *ngIf="auction.finished">
                <button class="action-button__finished">ADD TO CART</button>
            </div>
            <div *ngIf="!auction.finished">
                <button class="action-button" (click)="watchAuction();">WATCH</button>
            </div>
            <div *ngIf="auction.finished">
                <button class="action-button__finished">WATCH</button>
            </div>
            <div>
                <input class="offer__input__field" type="text" placeholder="Your offer" #offeredPrice>
            </div>
            <div *ngIf="!auction.finished">
                <button class="action-button__bid" (click)="bidAuction(offeredPrice.value);">BID ON</button>
                <div *ngIf="highestOffer" class="text-offer">Highest offer: {{ highestOffer.userEmail }}</div>
            </div>
            <div *ngIf="auction.finished">
                <button class="action-button__finished">BID ON</button>
            </div>


        </div>
        <div style="clear: both;"></div>

    </div>

    <div class="description-container">
        <div class="description-title">Description</div>

        <div class="description">{{ auction.description }}</div>

        <div style="clear: both;"></div>
    </div>


</div>