<div id="container">
    <div id="login-inputs">

        <div class="nav-profile">
            <app-user-account-nav-bar></app-user-account-nav-bar>
        </div>

        <div class="data-container">
            <div class="profile-descript">Create auction <span class="info-message">{{ messageFormData }}</span></div>

            <div class="data-changeable">

                <div class="select-div">
                    <select class="select-tag" name="category" [(ngModel)]="newCreatedAuction.category">
                        <option selected>Choose category</option>
                        <option *ngFor="let category of categories">{{ category.name }}</option>
                      </select>
                </div>

                <input type="text" placeholder="title" name="title" [(ngModel)]="newCreatedAuction.title">
                <input type="text" placeholder="buyNowPrice" name="buyNowPrice" [(ngModel)]="newCreatedAuction.buyNowPrice">


                <div class="btn-container">
                    <div>duration:</div>
                    <div class="radio-tag-div">
                        <label>7 days</label>
                        <input class="choose-tag" type="radio" name="endDate" value="7" [(ngModel)]="newCreatedAuction.endDate">
                    </div>
                    <div class="radio-tag-div">
                        <label>14 days</label>
                        <input class="choose-tag" type="radio" name="endDate" value="14" [(ngModel)]="newCreatedAuction.endDate">

                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div class="btn-container">
                    <div>
                        <input class="choose-tag" type="checkbox" placeholder="promotedAuction" name="promotedAuction" [(ngModel)]="newCreatedAuction.promotedAuction">
                        <label>premium</label>
                    </div>

                </div>

                <div class="btn-container">

                    <input class="choose-tag" type="checkbox" placeholder="promotedAuction" name="isAuction" [(ngModel)]="newCreatedAuction.isAuction">
                    <label>select if is bidden auction</label>
                    <div class="price-auction-div">
                        <div *ngIf="newCreatedAuction.isAuction">
                            <input type="text" placeholder="minPrice" name="minPrice" [(ngModel)]="newCreatedAuction.minPrice">
                        </div>
                    </div>

                </div>
                <div class="upload-btn-wrapper">
                    <div>
                        <div class="info-message">{{ messagePhoto }}</div>
                        <button class="btn-choose" value="upload">add photo</button>
                        <input class="btn" type="file" (change)="onFileChanged($event)" name="avatar" accept="image/png, image/jpeg" id="avatar-save-button">
                    </div>
                    <div>
                        <button class="btn-upload" (click)="onUploadAuction();">set up auction</button>
                    </div>
                </div>

            </div>


            <div class="description-area">
                <textarea class="textarea-tag" rows="40" cols="78" type="text" placeholder="description" name="description" [(ngModel)]="newCreatedAuction.description"></textarea>
            </div>

            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="premium-auctions">
        <app-auction-premium></app-auction-premium>
    </div>
</div>