.container {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 250px;
    height: 45px;
}

.login-error {
    color: red;
}

.create-buttom {
    background-color: #0471e3;
    cursor: pointer;
    width: 264px;
    height: 45px;
    color: white;
    outline: none;
    border: none;
    margin-top: 20px;
    border-radius: 4px;
}

.create-buttom:hover {
    background-color: #1582f4;
}

#login-inputs {
    background-color: white;
    width: 970px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.frame {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}
