<button class="nav-profile__button" routerLink="/user-profile">profile</button>
<button class="nav-profile__button" routerLink="/user-create-auction">create auction</button>
<button class="nav-profile__button" routerLink="/user-auctions-observed">auctions observed</button>
<button class="nav-profile__button" routerLink="/user-auctions-won">auctions won</button>
<button class="nav-profile__button" routerLink="/user-auctions">my auctions</button>
<button class="nav-profile__button" routerLink="/user-bidden-products">bidden auctions</button>