<div id="container">

    <div id="categories">
        <div id="categories-block"></div>
        <div>
            <ul id="ul-category">
                <li id="li-category" *ngFor="let category of categories">
                    <div class="single-cateegory">
                        <button class="category-button" (click)="choseCategory(category)">{{ category.name }}</button>
                    </div>
                </li>
            </ul>
        </div>
        <div id="categories-block"></div>
    </div>

    <div class="user-auctions__greeting">
        <div id="greeting">Hello!</div>
    </div>


    <div class="user-auctions" *ngIf="authenticationService.isUserLoggedIn();">
        <div class="user-auctions__block">
            <p>lista ostatnio dodanych aukcji</p>
        </div>

        <div class="user-auctions__block">
            <p>lista kończących sięaukcji aukcji</p>
        </div>

        <div class="user-auctions__block">
            <p>lista aukcji któreliczytuje zalogowany uzytkownik</p>
        </div>

        <div class="user-auctions__block">
            <p>obserwowane aukcje</p>
        </div>

        <div class="user-auctions__block">
            <p>własnie zakonczone</p>
        </div>
    </div>

    <div style="clear: both;"></div>

</div>