<div id="container">

    <!-- <div *ngIf="!categories">
        <div class="info-loading-server">
            <div class="info-text">INFO: Wait about 1 minute for the server to load.</div>
        </div>
        <div class="load-container">
            <img class="load-gif" src="/assets/images/sys/tenor.gif">
        </div>
    </div> -->

    <div id="categories">
        <div id="categories-block"></div>
        <div>
            <ul id="ul-category">
                <li id="li-category" *ngFor="let category of categories">
                    <div class="single-cateegory">
                        <button class="category-button" (click)="goToCategory(category);">{{ category.name }}</button>
                    </div>
                </li>
            </ul>
        </div>
        <div id="categories-block"></div>
    </div>

    <div class="user-auctions__greeting">

        <div id="greeting">
            Check it out!
        </div>
        <div id="photo-top">
            <img class="photo-top-picture" [src]="photoPath + topAuction.photo">
        </div>
        <div id="title-top">
            <button class="auction-button" (click)="goToAuction(topAuction);">{{ topAuction.title }}</button>
        </div>
        <div id="price-top">
            Buy Now: {{ topAuction.buyNowPrice }} zł
        </div>
        <div *ngIf="highestOffer" id="price-auction-top">
            Auction: {{ highestOffer.price }} zł
        </div>
        <div style="clear: both;"></div>
    </div>

    <div class="user-auctions" *ngIf="authenticationService.isUserLoggedIn();">
        <div class="user-auctions__block">
            <ul class="ul-list">
                <div class="list-title">Auctions bid</div>
                <li class="li-list" *ngFor="let auction of userOffers">
                    <div class="single-auction">
                        <div class="auction-avatar">
                            <img class="img-avatar" [src]="photoPath + auction.photo">
                        </div>
                        <div class="auction-description">
                            <button class="auction-button" (click)="goToAuction(auction);">{{ auction.title }}</button>
                            <div class="item-info"> End date: {{ auction.endDate }}&nbsp;&nbsp;Localization: {{ auction.localization }} </div>
                            <div class="item-info"> Buy Now: <b>{{ auction.buyNowPrice }} zł</b></div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </li>
            </ul>
            <div *ngIf="checkIfAuctionsBidIsEmpty()">
                <div class="text-if-empty">You are not bidding anything yet. find auctions and bid!</div>
            </div>
        </div>

        <div class="user-auctions__block">
            <ul class="ul-list">
                <div class="list-title">Watched auctions</div>
                <li class="li-list" *ngFor="let auction of watchedAuctions">
                    <div class="single-auction">
                        <div class="auction-avatar">
                            <img class="img-avatar" [src]="photoPath + auction.photo">
                        </div>
                        <div class="auction-description">
                            <button class="auction-button" (click)="goToAuction(auction);">{{ auction.title }}</button>
                            <div class="item-info"> End date: {{ auction.endDate }}&nbsp;&nbsp;Localization: {{ auction.localization }} </div>
                            <div class="item-info"> Buy Now: <b>{{ auction.buyNowPrice }} zł</b></div>
                        </div>
                        <div style="clear: both;"></div>

                    </div>
                </li>
            </ul>
            <div *ngIf="checkIfWatchedAuctionsIsEmpty()">
                <div class="text-if-empty">You are not following any auctions yet ;(</div>
            </div>
        </div>
    </div>


    <div class="user-auctions" *ngIf="!authenticationService.isUserLoggedIn();">
        <div class="user-auctions__block">
            <ul class="ul-list">
                <div class="list-title">Last added</div>
                <li class="li-list" *ngFor="let auction of lastAddedAuctions">
                    <div class="single-auction">
                        <div class="auction-avatar">
                            <img class="img-avatar" [src]="photoPath + auction.photo">
                        </div>
                        <div class="auction-description">
                            <button class="auction-button" (click)="goToAuction(auction);">{{ auction.title }}</button>
                            <div class="item-info"> End date: {{ auction.endDate }}&nbsp;&nbsp;Localization: {{ auction.localization }} </div>
                            <div class="item-info"> Buy Now: <b>{{ auction.buyNowPrice }} zł</b></div>
                        </div>
                        <div style="clear: both;"></div>

                    </div>
                </li>
            </ul>
        </div>

        <div class="user-auctions__block">
            <ul class="ul-list">
                <div class="list-title">Ending auction</div>
                <li class="li-list" *ngFor="let auction of endingAuctions">
                    <div class="single-auction">
                        <div class="auction-avatar">
                            <img class="img-avatar" [src]="photoPath + auction.photo">
                        </div>
                        <div class="auction-description">
                            <button class="auction-button" (click)="goToAuction(auction);">{{ auction.title }}</button>
                            <div class="item-info"> End date: {{ auction.endDate }}&nbsp;&nbsp;Localization: {{ auction.localization }} </div>
                            <div class="item-info"> Buy Now: <b>{{ auction.buyNowPrice }} zł</b></div>
                        </div>
                        <div style="clear: both;"></div>

                    </div>
                </li>
            </ul>

        </div>

        <div class="user-auctions__block">
            <ul class="ul-list">
                <div class="list-title">Just ended</div>
                <li class="li-list" *ngFor="let auction of endedAuctions">
                    <div class="single-auction">
                        <div class="auction-avatar">
                            <img class="img-avatar" [src]="photoPath + auction.photo">
                        </div>
                        <div class="auction-description">
                            <button class="auction-button" (click)="goToAuction(auction);">{{ auction.title }}</button>
                            <div class="item-info"> End date: {{ auction.endDate }}&nbsp;&nbsp;Localization: {{ auction.localization }} </div>
                            <div class="item-info"> Buy Now: <b>{{ auction.buyNowPrice }} zł</b>&nbsp;&nbsp; <span class="finished">FINISHED</span></div>
                        </div>
                        <div style="clear: both;"></div>

                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div style="clear: both;"></div>

</div>