<div id="container">
    <div id="login-inputs">

        <div class="nav-profile">
            <button class="nav-profile__button" routerLink="/user-profile">profile</button>
            <button class="nav-profile__button" routerLink="/user-create-auction">create auction</button>
            <button class="nav-profile__button" routerLink="/user-auctions-observed">auctions observed</button>
            <button class="nav-profile__button" routerLink="/user-auctions-won">auctions won</button>
            <button class="nav-profile__button" routerLink="/user-auctions">my auctions</button>
            <button class="nav-profile__button" routerLink="/user-bidden-products">bidden auctions</button>
        </div>

        <div class="data-container" *ngIf="userData;">
            <div class="profile-descript">My data</div>
            <div class="data-changeable">
                <input type="text" placeholder="name" name="name" [(ngModel)]="userData.name">
                <input type="text" placeholder="surname" name="surname" [(ngModel)]="userData.surname">
                <input type="text" placeholder="street" name="street" [(ngModel)]="userData.street">
                <input type="text" placeholder="houseNumber" name="houseNumber" [(ngModel)]="userData.houseNumber">
                <input type="text" placeholder="postcode" name="postcode" [(ngModel)]="userData.postcode">
                <input type="text" placeholder="province" name="province" [(ngModel)]="userData.province">
                <input type="text" placeholder="city" name="city" [(ngModel)]="userData.city">
                <input type="text" placeholder="email" name="email" [(ngModel)]="userData.email" disabled="disabled">
                <input type="password" placeholder="password" name="password" [(ngModel)]="userData.password" disabled="disabled">
                <button class="update-buttom" (click)="updateUserData()">save data</button>
            </div>
            <div class="data-unchangeable">
                <div class="instruction-text">Hi {{ userData.name }}!<br><br> You are at the place where you can manage your account<br>and and change your avatar </div>
            </div>

            <div class="avatar-container">
                <div class="img-avatar-photo">
                    <img class="img-avatar" [src]="photoPath + userData.avatar">
                </div>
                <div class="upload-btn-wrapper">
                    <div>
                        <button class="btn-choose" value="upload">add avatar</button>
                        <input class="btn" type="file" (change)="onFileChanged($event)" name="avatar" accept="image/png, image/jpeg" id="avatar-save-button">
                    </div>
                    <div>
                        <button class="btn-upload" (click)="onUploadAvatar()" value="upload">Upload</button>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>

    </div>
</div>